@{
    ViewData["Title"] = "Home Page";
}

<header class="hero-header position-relative text-white">
    <div class="overlay position-absolute top-0 start-0 w-100 h-100"></div>
    <div class="container text-center position-relative py-5">
        <h1 class="display-4 fw-bold custom-orange">Çalışma Günlüğü</h1>
    </div>
</header>
<section class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center mb-4">
            <h2 class="text-white">Çalışmalarınızı Kolayca Yönetin</h2>
            <p class="text-light">
                Buradan yeni iş ekleyebilir, görüntüleyebilir ve sisteminizi yönetebilirsiniz.
            </p>
        </div>
    </div>
    <div class="row g-4 justify-content-center">
        <div class="col-md-4">
            <div class="card bg-dark text-light h-100 shadow text-center">
                <div class="card-body text-center">
                    <img src="img/w.png" alt="İş Listesi" style="width:150px; height:150px;" class="mb-3 mt-2">
                    <h5 class="card-title">İş Listesi</h5>
                    <p class="card-text">Tüm işlerinizi görüntüleyin ve yönetin.</p>
                    <a href="#" class="btn btn-outline-light">Listele</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-dark text-light h-100 shadow">
                <div class="card-body text-center">
                    <img src="img/add.png" alt="Yeni İş Ekle" style="width:150px; height:150px;" class="mb-3 mt-2">
                    <h5 class="card-title">Yeni İş Ekle</h5>
                    <p class="card-text">Bitirdiğiniz yeni bir işi hızlıca ekleyin.</p>
                    <a href="#" class="btn btn-outline-light">Yeni İş Ekle</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-dark text-light h-100 shadow">
                <div class="card-body text-center">
                    <img src="img/system management.png" alt="Sistem Yönetimi" style="width:150px; height:150px;"
                         class="mb-3 mt-2">
                    <h5 class="card-title">Sistem Yönetimi</h5>
                    <p class="card-text">Müşteri, kategori ve kullanıcı yönetimi.</p>
                    <a href="#" class="btn btn-outline-light">Yönetim</a>
                </div>
            </div>
        </div>
    </div>
</section>
